
h1 {text-align: center; font-family: "Times New Roman";}
h2 {text-align: center; font-family: "Times New Roman";}
h3 {text-align: center; font-family: "Times New Roman";}
ul {font-family: "Times New Roman"; width:400px;margin-left:auto;margin-right:auto;}
li {font-size: 125%; float:left;padding:10px; font-family: "Times New Roman";}

img{  display: block;
  margin-left: auto;
  margin-right: auto;
}


